@import url('https://fonts.googleapis.com/css?family=Montserrat');

.mycontainer {
    display: flex;
}

.mysideNav {
    font-family: 'Montserrat', sans-serif;
    width: 15%;
    margin-left: 20px;
    border-right:gray solid 1px ;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.mysideNav a {
    display: block;
}

.block1 {
    padding: 0 20px;
    border-left: blue solid 5px;
}


.block2,
.block3,
.block4,
.block5 {
    padding: 0 20px;
    margin-top: 25px;
    border-left: blue solid 5px;
}

.block5 {
    margin-bottom: 30px;
}

.pageNav {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    margin-left: 30px;
    margin-top: 50px;
}

.pageNav a {
    color: black;
    text-decoration: none;
    margin-right: 30px;
    padding: 20px;
}

.pageNav a:hover {
    color: blue;
    background-color: blanchedalmond;
}