.header{
    background-color: aquamarine;
    height: 200px;
}

.header-big{
    background-color: lightseagreen;
    height: 300px;
}

.header-small{
    background-color: lightcoral;
    height: 500px;
}