.left {
    width: 780px;
    padding: 10px;
    float: left;
}

.article {
    width: 760px;
    padding: 10px;
    margin-bottom: 10px;
}

.article p {
    text-indent: 20px;
}

.article:hover {
    background-color: antiquewhite;
}

