
.headerNav {
    list-style: none;
    display: flex;
    justify-content: center;
}

.headerNav li {
    margin: 0 10px;
}

.headerNav a {
    display: block;
    color:red;
    font-weight: 900;
    text-decoration: none;
    transition: 1.5s;
    padding: 10px 0;
}

.headerNav a:hover {
    color: white;
    transition: 1.3s;
}