.RecentPosts {
    margin-top: 90px;
    margin-bottom: 40px;
}

.post_item{
    margin-left: 10px;
    margin-right: 10px;
    max-width: 313px;
}

.post_item>p{
    color: #616161;
    font-family: "raleway-regular";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    margin: 20px 0 0 0;
}