header {
    background-color: #0B1F35;
}
.close {
    color: #B5BBC2;
}

.brand_title {
    font-size: 32px;
}

.nav-item {
    margin: 6px 20px;
}

.nav-item a {
    text-decoration: none;
    color: white;
}
