header {
    background-color: #0B1F35;
}
.close {
    color: #B5BBC2;
}

.brand_title {
    font-size: 32px;
}

.header_img {
    width: 48px;
    margin-bottom: 7px;
}

.header_img:hover {
    filter: brightness(0.8);
}