.btn-primary {
    background-color: #ffffff;
    color: #c2c1c1;
    border: 2px solid #c2c1c1;
    padding: 8px 15px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transform: translate(color 0.7s, border 0.7s);
    -webkit-transform: translate(color 0.7s, border 0.7s);
    -moz-transform: translate(color 0.7s, border 0.7s);
    -ms-transform: translate(color 0.7s, border 0.7s);
    -o-transform: translate(color 0.7s, border 0.7s);
}

.btn-primary:hover {
    border: 2px solid #58c93a;
    color: #58c93a;
    background-color: #ffffff;
}

.btn:active {
    background-color: #ffffff;
    border-color: #c2c1c1;
    box-shadow: none;
}

.card-body {
    padding-top: 0;
    line-height: 1.3;
    color: #606060;
}

.card {
    border: none;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #58c93a;
    background-color: #ffffff;
    border-color: #58c93a;
}