.header {
  height: 200px;
  color: #cccccc;
  background-color: #60a8ff;
}
.header-big {
  font-size: 2em;
  height: 300px;
  background-color: #ff5b54;
}

.header-small {
  font-size: 0.8em;
  height: 100px;
  color: #1a16ff;
  background-color: #fffa70;
}