.mysideNav {
    width: 15%;
    margin-left: 20px;
    border-right:gray solid 1px ;
    height: 100%;
    float: left;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 30px;
}

.mysideNav a {
    display: block;
}

.block1 {
    padding: 0 20px;
    border-left: blue solid 5px;
}


.block2,
.block3,
.block4,
.block5 {
    padding: 0 20px;
    margin-top: 25px;
    border-left: blue solid 5px;
}

.block5 {
    margin-bottom: 30px;
}