.menu {
  list-style: none;
  display: flex;
  margin: 20px;
  padding: 0;
  line-height: 1;
}

.menu-item {
  padding: 15px;
  display: block;
  line-height: 1;
  align-self: center;
}

.menu-item__link {
  text-decoration: none;
  font-size: 2rem;
  line-height: 2rem;
  text-decoration: none;
  color: black;
}

.place-left-menu {
  flex-direction: column;
  width: calc(100% * 0.08);
}