.footer{
    height: 300px;
    display: flex;
    background-color: #6c757d;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 50px;

}

.footer_bottom{
    background-color: #3b4248;
    display:flex;
    justify-content: center;
    color: white;

}

.signed{
    margin: 5px;
    text-align: center;
}

.footer_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    
    margin-bottom: 60px;
}

.footer_item{
    width: 30%;
    
}

.footer_item>h3{
    color: #2f2b2b;
}

.footer_item>ul{
    list-style-type: none;
}

.footer_item a{
    text-decoration: none;
    color: white;
}