
.TopBilboard {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('billboard.jpg')
}

.shadow {    
    width: 100%;
    height: 142px;
    margin-bottom: -1px;
    background: linear-gradient(rgba(255,255,255,0), rgb(255,255,255));
}

.caption{
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.caption>p{
    margin-top: 0;
}
