.main-header {
	background: #292929;
	border-bottom: 3px solid #1e1e1e;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.main-center {
	max-width: 980px;
    margin: 0 auto;
}

.logo {
	margin-top: 40px;
}
.logo:hover {
    opacity: 0.6;
}

.logo-menu {
}

.logo-menu li {
	float: left;
	font-weight: bold;
	border-left: 1px solid #1e1e1e;
}

.logo-menu li a {
	text-decoration: none;
	color: #FFFFFF;
	padding: 50px 30px;
	display: block;
	border: 3px solid #292929;
}

.logo-menu li a:hover {
	color: #58c93a;
	border-bottom: 3px solid #58c93a;
}

.content {
	border-left: 1px solid #e1e0e0;
	border-right: 1px solid #e1e0e0;
}