.main-header {
	background: #292929;
	border-bottom: 3px solid #1e1e1e;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.main-center {
	max-width: 980px;
    margin: 0 auto;
}

.logo {
	margin-top: 40px;
}
.logo:hover {
    opacity: 0.6;
}

.content {
	border-left: 1px solid #e1e0e0;
	border-right: 1px solid #e1e0e0;
}