.Tesimonials {
    margin-top: 90px;
    margin-bottom: 40px;
}

.testimonials_wrapper{
    margin: 0 auto;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top>h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.top>p{
    color: #9b9b9b;
    font-family: "raleway-regular";
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: normal!important;
}

.bottom{
    display: flex;
    justify-content: space-between;
}

.testimonials_item{
    width: 313px;
    margin-left: 10px;
    margin-right: 10px;
}

.testimonials_item>h4{
    color: #7b7979;
    font-family: "raleway-semibold";
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    
}

.testimonials_item p{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .5px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ecebeb;
    position: relative;
    text-align: center;
}

.testimonials_item>img{
    border-radius: 100px;
    margin-right: 20px;
    float: left;
}

.testimonials_item>h5{
    color: #7b7979;
    font-family: "raleway-regular";
    font-size: 12px;
    margin: 0;
    font-weight: normal;

}