main {
	width: 63.3%;
	margin-top: 70px;
	float: left;
}

article {
	margin-bottom: 70px;
}

article h2 {
	margin: 0 0 40px 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #4f4e4e;
	font-size: 1.75em;
	line-height: 1.3;
}

article p {
	line-height: 1.3;
	color: #606060;
	margin: 0 0 30px 20px;
}

.more {
	display: inline;
	color: #c2c1c1;
	border: 2px solid #c2c1c1;
	text-decoration: none;
	padding: 8px 15px;
	border-radius: 20px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.more:hover {
	border: 2px solid #58c93a;
}

aside {
	width: 28.6%;
	margin-top: 70px;
	float: right;
}

.sidebar h2 {
	background: #f8f8f8;
	text-transform: uppercase;
	color: #6c6969;
	font-weight: bold;
	padding: 20px 0 20px 20px;
	border-left: 3px solid #58c93a;
	margin-bottom: 20px;
}

.sear {
	font-size: 0.75em;
	color: #b9b9b9;
	padding: 20px 0 20px 20px;
	border: 1px solid #b9b9b9;
	width: 100%;
	margin-bottom: 60px;
	border-right: none;
}

::-webkit-input-placeholder {
	color: #b9b9b9;
	opacity: 1;
}

::-moz-placeholder {
	color: #b9b9b9;
	opacity: 1;
}

:-moz-placeholder {
	color: #b9b9b9;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #b9b9b9;
	opacity: 1;
}

.categor {
	margin: 0 0 60px 30px;
}

.subscribe {
	position: relative;
	width: 100%;
	height: 55.6px;
}

.mail {
	font-size: 0.75em;
	color: #b9b9b9;
	padding: 20px 0 20px 20px;
	border: 1px solid #b9b9b9;
	width: 100%;
	margin-bottom: 60px;
	box-sizing: border-box;
	position: absolute;
	border-right: none;
}

.btm {
	position: absolute;
	right: 20px;
	top: 15px;
}

.img3 {
	margin-top: 60px;
}

.paper {
	font-weight: bold;
	font-size: 1.125em;
	text-transform: uppercase;
	border-top: 1px solid #e1e0e0;
	padding: 30px;
}

.paper a {
	text-decoration: none;
	color: #818181;
}

.paper a:hover {
	text-decoration: underline;
}

.pre {
	float: left;
}

.next {
	float: right;
}